header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -380px;
    height: 380px;
    width: 100%;
    padding: 1.5rem 100px 1.5rem 1.5rem;

}

header {
    background-color: #495E57;
}

header {
    align-items: left;
}

.food {
    /*max-width: 10%;*/
    height: 439px;
    width: 400px;
    transform: translate(900px, 180px);
    margin-bottom: 5%;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    padding-top: 10px;
}

.food {
    align-items: right;
}

h1 {
    margin-top: 1rem;
    font-size: 45px;
    font-weight: bold;
    color: #f4ce14;
    font-family: markazi text, serif;
    margin-bottom: -10px;
    padding-top: -10%;
    margin-left: 10px;
    transform: translate(130px, -20px);

}

h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: medium;
    color: white;
    font-family: karla;
    padding-top: -50px;
    padding-left: 171px;
    transform: translate(-30px, -20px);
}

p {
    margin-top: -1rem;
    font-size: 20px;
    color: white;
    text-align: left;
    font-family: karla;
    padding-top: -10px;
    padding-left: 155px;
    width: 18%;
    transform: translate(-10px, -15px);

}

button {
    padding: 1rem;
    background-color: #f4ce14;
    color: black;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 238px;
    height: 59px;
    font-size: 24px;
    padding-left: 10px;
    transform: translate(148px, 10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #e76f51;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
}

.logo {
    width: 200px;
    height: 50px;
    padding-left: 165px;
    transform: translate(-20px, -550px);
}

ul {
    display: flex;
    list-style: none;
    margin-bottom: -25px;
}

li {
    margin-left: 10px;
    margin-right: 20px;
    align-content: center;
    transform: translate(-100px, -570px);
}

a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: karla;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #fca311;
}

main {
    align-items: center;
    width: 100px;
    height: auto;
}

/* Style for header */
.head1 {
    text-align: left;
    margin-bottom: 1rem;
    font-family: karla;
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding-left: 165px;
    width: 500px;
    transform: translate(2px, 45px);
}

/* Style for button */
.button2 {
    align-content: right;
    padding-left: 800px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -70px;
    background-color: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transform: translate(270px, 30px);
}

.card {
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 366px;
    height: 600px;
    margin-left: 165px;
    margin-top: 150px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 35px;
}

.card-1 {
    padding-left: -100px;
    margin-left: -12px;
    margin-right: 200px;
    transform: translate(10px, -25px);
}


.card-2 {
    transform: translate(450px, -780px);
    /* height: 200px; */
}

.card-3 {
    transform: translate(900px, -1535px);
    /* margin-right: 1000px;; */
    /* padding-right: 2000px; */

}

.card img {
    width: 400px;
    object-fit: cover;
    margin-left: -65px;
    margin-right: 100px;
    border-radius: 5px;
    margin-top: -48px;
}

.card-1 img {
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 100px;
    margin-left: -65px;
    margin-top: -70px;
    height: 250px;
    object-fit: cover;
}

.card-1 img {
    transform: translate(50px, 75px);
}

.card-2 img {
    padding-left: 10px;
    padding-right: 20px;
}

.card-2 img {
    transform: translate(50px, 48px);
}

.card-3 img {
    height: 250px;
    margin-bottom: -50px;
    margin-top: -75px;
    margin-left: -55px;
    transform: translate(50px, 75px);
}

.card-header {
    background-color: none;
}

.card-header .gs {
    font-size: 20px;
    font-family: karla;
}

.card-1 .gs {
    margin-left: 10px;
    display: flex;
    width: 120px;
    padding-left: 20px;
    padding-top: 3px;
    transform: translate(5px, 120px);
    color: black;
    font-weight: bold;

}

.card-2 .gs {
    margin-left: 10px;
    display: flex;
    padding-left: 20px;
    padding-top: 150px;
    transform: translate(5px, -49px);
    color: black;
    font-weight: bold;
}

.card-3 .gs {
    margin-left: 10px;
    padding-left: 20px;
    width: 150px;
    padding-top: 3px;
    display: flex;
    transform: translate(5px, 175px);
    color: black;
    font-weight: bold;
}

.card .price {
    font-size: 24px;
    font-family: karla;
    align-items: right;
}

.card-1 .pprice {
    transform: translate(280px, 95px);
    padding-top: 0px;
    color: #e76f51;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 45px;
}

.card-2 .pprice {
    transform: translate(280px, -75px);
    padding-top: 0px;
    color: #e76f51;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 45px;
}

.card-3 .pprice {
    transform: translate(280px, 149px);
    padding-top: 0px;
    color: #e76f51;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 45px;
}

.card-header .description {
    font-size: 18px;
    color: black;
    font-family: karla;
    width: 80%;
}

.card-1 .description {
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 200px;
    transform: translate(-5px, -80px);
}

.card-2 .description {
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
    transform: translate(-5px, -150px);
}

.card-3 .description {
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom: 10px;
    transform: translate(-5px, -25px);
}


.card-footer {
    display: inline-block;
    width: 100%;
}

.card-footer span {
    font-weight: bold;
    padding-left: 34px;
    padding-right: 30px;
}
.card-2 .card-footer span{
    padding-left: 10px;
    transform: translate(-150px, 20px);
}

.card-footer img {
    height: 50px;
    width: 50px;
    transform: translate(150px, 20px);
}
.card-2 .card-footer img{
    height: 50px;
    width: 50px;
    padding-left: 10px;
    transform: translate(150px, -20px);

}
.card-3 .card-footer img{
    height: 50px;
    width: 50px;
    transform: translate(150px, 25px);
}


.testimonials {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    /* padding-left: 32%; */
    padding-top: 50px;
    transform: translate(590px);
    font-family: karla;

}


#rectangle {
    width: 100%;
    height: 550px;
    background: #495E57;
    margin-top: -1300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-right: 1690px;
    display: flex;
    flex-direction: column;
}

/* Add some padding inside the card container */
.container-test {
    padding-top: 50px;
    height: 100%;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    transform: translate(300px);
    padding-right: 400px;
    margin-left: -70px;
}

.test-1 {
    width: 350px;
    transform: translate(5px, 6px);
}

.test-2 {
    padding-left: 15px;
    transform: translate(480px, -326px);
}

.test-3 {
    padding-left: 10px;
    transform: translate(950px, -660px);

}

.card-imagee {
    width: 200px;
    height: 200px;
    transform: translate(30px, 45px);
    border-radius: 50%;
}

.name {
    width: 200px;
    transform: translate(100px, -70px);
    color: black;
}

.rev {
    width: 150px;
    transform: translate(-100px, 55px);
    color: black;
}

.rating {
    transform: translate(-100px, -250px);
    font-size: 20px;
    color: black;
}

.star-list {
    color: #fca311;
    font-weight: bolder;
    transform: translate(330px, 281px);
    font-size: 20px;
}

.rating-star .span .checked {
    fill: #fca311;
}

.rating-star .span .unchecked {
    fill: #333;
}


.littlechicago h1 {
    color: #f4ce14;
    width: 500px;
    transform: translate(165px, 50px);
    padding-top: 90px;
    font-size: 40px;
}

.littlechicago #chicago {
    color: black;
    font-size: 35px;
    transform: translate(22px, 80px);
    font-weight: bold;
}

.main-text {
    color: black;
    font-size: 26px;
    transform: translate(22px, 100px);
    width: 350px;
}

.restaurant-image {
    position: relative;
    width: 300px;
    height: 300px;
}

.res-1 {
    height: 560px;
    width: 530px;
    border-radius: 10px;
    transform: translate(800px, -150px);
    position: absolute;
    z-index: 1;
    padding-top: -20px;
    left: 0;
}

.res-2 {
    height: 560px;
    width: 530px;
    border-radius: 10px;
    transform: translate(1000px, -85px);
    z-index: 0;
    padding-left: -10px;
}


.footer {
    background-color: #495E57;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width: 100%;
    height: 350px;
    padding: 20px;
}

.navlist img {
    display: flex;
    align-items: left;
    height: 40px;
    padding-left: 100px;
}

.nav {
    display: block;
    margin-left: 15px;
    padding-top: 17px;
    margin-top: 5px;
    margin-bottom: 200px;
    background: none;
}

.nav-links {
    display: block;
    margin-left: 15px;
    padding-top: 17.5px;
    margin-top: 200px;
    margin-bottom: 10px;
    background: none;
}

.nav-links li a {
    color: black;
    font-family: karla;
    font-size: 18px;
    font-weight: bold;
    padding-left: 400px;
    padding-top: 15px;
    padding-bottom: 10px;
    transform: translate(10px, 300px);
    display: block;
}

.nav-links li a:hover {
    color: #fca311;
}

.contact-info {
    display: block;
    color: black;
    font-family: karla;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 660px;
    margin-top: -200px;
}

.contact-info li {
    margin-bottom: 10px;
    padding-right: 700px;
}

.social-links {
    display: block;
    padding-right: 10px;
    padding-left: 630px;
    margin-right: 80px;
    margin-top: -200px;
}

.social-links li {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 1px;
}

.social-links li a {
    color: black;
    display: block;
    font-family: karla;
    font-weight: bold;
    font-size: 18px;
    padding-top: 1px;
    transform: translate(300px, 100px);
}

.social-links li a:hover {
    color: #fca311;
}


form {
    height: 630px;
    margin: auto;
    gap: 100px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gray;
}

.reserve h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: -10px;
    padding-top: 50px;
    color: black;
    transform: translate(5px, -20px);
}

label {
    display: block;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

input[type="date"],
select,
input[type="number"] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #1c84c6;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #005cbf;
}
